In [1]:
lst0 = []
lst1 = [1, "abc", 5.7, [1, 3, 5]]
lst2 = [10, 11, 12, 13, 14, 15, 16]
lst3 = [7, -5, 6, 27, -3, 0, 14]
lst4 = [0, 1, 1, 3, 2, 4, 6, 1, 7, 8]

In [3]:
lst5 = [7, "xyz", 2.7]

In [4]:
len(lst1)

4

In [6]:
lst1[2]

5.7

In [8]:
lst2[-1]

16

In [10]:
lst1[3][2]

5

In [11]:
lst1[2] = "xyz"

In [12]:
lst1

[1, 'abc', 'xyz', [1, 3, 5]]

In [13]:
lst1[3][1] = 15.0

In [14]:
lst1

[1, 'abc', 'xyz', [1, 15.0, 5]]

In [15]:
lst1[:3]

[1, 'abc', 'xyz']

In [17]:
lst2[1:6]

[11, 12, 13, 14, 15]

In [18]:
lst2[:3]

[10, 11, 12]

In [19]:
lst2[1:]

[11, 12, 13, 14, 15, 16]

In [24]:
lst0 = lst2[:4]

In [26]:
lst0
lst0[3]

13

In [27]:
nl = lst2 + lst3

In [28]:
nl

[10, 11, 12, 13, 14, 15, 16, 7, -5, 6, 27, -3, 0, 14]

In [29]:
nl[3] = 55

In [30]:
nl

[10, 11, 12, 55, 14, 15, 16, 7, -5, 6, 27, -3, 0, 14]

In [32]:
def is_even(n):
    if (n % 2) == 1:
        print(n, "is odd")
    else:
        print(n, "is even")

In [33]:
is_even(3)

3 is odd

In [34]:
for n in [1, 4, 8, 9, 11]:
    print(n)

1
4
8
9
11

In [35]:
for n in range(1, 21):    
    if (n % 2) == 1:
        print(n, "is odd")
    else:
        print(n, "is even")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [ ]:
# use break to stop loops

In [36]:
N = 10
i = 1
sum = 0

while i <= N:
    sum = sum + i
    i = i + 1
    
print(sum)

55

In [37]:
print(i)

11

In [96]:
def is_prime(n):
    if n > 1:
        i = n - 1
        while i > 0:
            if i == 1:
                print(n, "is a prime number")
            elif (n % i) == 0:
                print(n, "is not a prime number") 
                break
            i = i-1
    else:
        print(n, "is not a prime number")

In [97]:
is_prime(10)

10 is not a prime number

In [99]:
is_prime(13)

13 is a prime number

In [75]:
print("He said: \"she argues: \'hello, world\'\"")

He said: "she argues: 'hello, world'"

In [102]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [103]:
lst = ["hello","bye","yellow","blue","green"]

In [106]:
list(enumerate(lst))

[(0, 'hello'), (1, 'bye'), (2, 'yellow'), (3, 'blue'), (4, 'green')]

In [107]:
print ("Return type:", type(enumerate(lst)))

Return type: <class 'enumerate'>

In [114]:
lst1 = [1, "abc", 5.7, [1, 3, 5]]
for y in lst1:
   print(f"y = {y}")

y = 1
y = abc
y = 5.7
y = [1, 3, 5]

In [126]:
lst3 = [544,1231,-3432,5435,123]

allpos = True

for i in lst3:
    if i >= 0:
        continue
    else: allpos = False
    break

In [127]:
allpos

False

In [128]:
pos_only = []

for n in lst3:
    if n >= 0:
        pos_only.append(n)

In [129]:
pos_only

[544, 1231, 5435, 123]

In [132]:
ispos = []

for n in lst3:
    if n >= 0:
        ispos.append(True)
    else: ispos.append(False)

In [133]:
ispos

[True, True, False, True, True]

In [250]:
def number_counts(lst):
    x = 0
    counts = [0] * (max(lst) + 1)
    for i in lst:
        counts[i] = counts[i] + 1
    return counts

In [251]:
lst4 = [0, 1, 1, 3, 2, 4, 6, 1, 7, 8]

In [252]:
number_counts(lst4)

[1, 3, 1, 1, 1, 0, 1, 1, 1]

In [253]:
print(number_counts(lst4))

[1, 3, 1, 1, 1, 0, 1, 1, 1]

In [270]:
def f(x):
    '''
    Real valued square function  f(x) == x^2
    '''

    return x*x


def integrate():
    ''' Integrate the function f using the rectangle method '''
    total_area = 0
    N = 10 # where N is number of rectangles
    width = 1 / N
    height = 0
    for i in range(0, N):
        height = f(1 / N * i)
        rect_area = width * height
        total_area = total_area + rect_area
    
    ### DO NOT MODIFY THE FOLLOWING LINE!
    return total_area

In [271]:
integrate()

0.2850000000000001

SE1 Assignment

In [272]:
def add_one_and_multiply(a, x):
    """ Add 1 to a, and multiply by x"""

    ### EXERCISE 1 -- YOUR CODE GOES HERE
    # Replace "None" with the correct expression
    r = (a+1)*x

    ### DO NOT MODIFY THE FOLLOWING LINE!
    return r

In [273]:
add_one_and_multiply(5, 2)

12

In [274]:
def out_of_range(x, lb, ub):
    """ Is x outside the range lb to ub (inclusive)?"""

    ### EXERCISE 2 -- YOUR CODE GOES HERE
    # Replace "None" with the correct expression
    r = True
    lowerlimit = lb
    upperlimit = ub
    if lb > ub:
        lowerlimit = ub
        upperlimit = lb
    if x >= lowerlimit and x <= upperlimit:
        r = False

    ### DO NOT MODIFY THE FOLLOWING LINE!
    return r

In [281]:
def number_string(x):
    """
    Given a number x, produce a string: "POSITIVE", "NEGATIVE", "ZERO"
    (depending on whether the number is positive, negative, or zero)
    """

    ### EXERCISE 3 -- YOUR CODE GOES HERE
    # Replace the following line with your code.
    # After running your code, variable s should contain the value
    # we ask you to compute in this exercise.
    s = None
    if x > 0:
        s = "POSITIVE"
    if x == 0:
        s = "ZERO"
    if x < 0:
        s = "NEGATIVE"

    ### DO NOT MODIFY THE FOLLOWING LINE!
    return s

In [288]:
def num_divisible(lb, ub, p, q):
    """
    How many numbers between lb and ub (inclusive) are divisible by p
    or divisible by q, but not divisible by both p and q.
    """

    ### EXERCISE 4 -- YOUR CODE GOES HERE
    # Replace the following line with your code.
    # After running your code, variable n should contain the value
    # we ask you to compute in this exercise.
    n = 0
    lowerlimit = lb
    upperlimit = ub
    if lb > ub:
        lowerlimit = ub
        upperlimit = lb
    for i in range(lowerlimit,upperlimit + 1):
        if (i % q == 0 or i % p == 0) and not (i % q == 0 and i % p == 0):
            n = n + 1
        
    ### DO NOT MODIFY THE FOLLOWING LINE!
    return n

In [291]:
def count_greater_than_val(lst, val):
    """
    Count the number of numbers in the list that are strictly greater than the value of val.
    """

    ### EXERCISE 5 -- YOUR CODE GOES HERE
    # Replace the following line with your code.
    # After running your code, variable n should contain the value
    # we ask you to compute in this exercise.
    n = 0
    for item in lst:
        if item > val:
            n = n + 1

    ### DO NOT MODIFY THE FOLLOWING LINE!
    return n

In [293]:
count_greater_than_val([-1, -2, -3, -4,5], 0)

1

In [294]:
def negate_list(lst):
    """
    Produce a *new* list with its values negated
    """

    ### EXERCISE 6 -- YOUR CODE GOES HERE
    # Replace the following line with your code.
    # After running your code, variable n should contain the value
    # we ask you to compute in this exercise
    new_lst = []
    for item in lst:
        new_lst.append(-item)

    ### DO NOT MODIFY THE FOLLOWING LINE!
    return new_lst

In [295]:
negate_list([-1, 2, -3, 4])

[1, -2, 3, -4]

In [ ]:
py.test
../common/grader.py